html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-size: 4rem;
  margin: 0 0 1rem;
  padding: 0;
  line-height: 1.4;
}

span {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

p {
  font-size: 2rem;
  font-style: italic;
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  padding: 0 1.5em;
  position: absolute;
  max-width: 50em;
  width: 100%;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
